<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Billz</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <div>
            <span class="badge badge-pill badge-primary">Bills</span>
            <div class="row">
                <div class="col-sm">
                    <div class="card bg-secondary text-white">
                        <div class="card-header thick text-center">
                            Gas
                        </div>
                        <div class="card-body">
                            <p class="card-text">From: {{ gas_bill.service_start.strftime('%m/%d/%Y') }}</p>
                            <p class="card-text">To: {{ gas_bill.service_end.strftime('%m/%d/%Y') }}</p>
                        </div>
                        <div class="card-footer thick">
                            Total: {{ "${:.2f}".format(gas_total) }}
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card bg-primary text-white">
                        <div class="card-header thick text-center">
                            Internet
                        </div>
                        <div class="card-body">
                            <p class="card-text">From: {{ internet_bill.service_start.strftime('%m/%d/%Y') }}</p>
                            <p class="card-text">To: {{ internet_bill.service_end.strftime('%m/%d/%Y') }}</p>
                        </div>
                        <div class="card-footer thick">
                            Total: {{ "${:.2f}".format(internet_total) }}
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card bg-warning text-white">
                        <div class="card-header thick text-center">
                            Power
                        </div>
                        <div class="card-body">
                            <p class="card-text">From: {{ power_bill.service_start.strftime('%m/%d/%Y') }}</p>
                            <p class="card-text">To: {{ power_bill.service_end.strftime('%m/%d/%Y') }}</p>
                        </div>
                        <div class="card-footer thick">
                            Total: {{ "${:.2f}".format(power_total) }}
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card bg-info text-white">
                        <div class="card-header thick text-center">
                            Water
                        </div>
                        <div class="card-body">
                            <p class="card-text">From: {{ water_bill.service_start.strftime('%m/%d/%Y') }}</p>
                            <p class="card-text">To: {{ water_bill.service_end.strftime('%m/%d/%Y') }}</p>
                        </div>
                        <div class="card-footer thick">
                            Total: {{ "${:.2f}".format(water_total) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div>
        <h3>Cost Per Housemate</h3>
            <ul>
                {% for housemate in housemates %}
                    <li>{{ housemate }}</li>
                    <ul>
                        <li class="thick">Total Owed: {{ "${:.2f}".format(total_owed[housemate]) }}</li>
                        {% for bill in individual_bills[housemate] %}
                            <li>{{ bill.category | capitalize}} : {{ "${:.2f}".format(bill.total / 100) }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <li>You're all alone.</li>
                {% endfor %}
            </ul>
        </div>
    </div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.js') }}"></script>

</body>
</html>